.Link {
  color: #fff;
}

.Link-tailor {
  font-weight: bold;
  margin-right: 20px;
}

.Link-header {
}

.HomeScreen_section {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../assets/backgroundImage.png);
  background-size: cover;
  background-position: top;
}

.Header-primary {
  padding-top: 20px;
}

.Header-main {
  font-family: "Teko", sans-serif;
  color: #fff;
}

.Header-sub {
  font-family: "Teko", sans-serif;
  color: #fff;
}

.Header-secondary {
  padding-left: 30px;
  padding-right: 30px;
}

.Header-course {
  color: #fff;
}

.Skills-title {
  border: 1px solid #777;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: gold;
}
