.Link {
  color: #fff;
}

.Link-tailor {
  font-weight: bold;
  margin-right: 20px;
}

.Link-header {
  text-decoration: none;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Link-header:hover {
  color: #777;
  text-decoration: none;
  background-color: #fff;
}

.HomeScreen_section {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../assets/backgroundImage.png);
  background-size: cover;
  background-position: top;
}

.Header-primary {
  padding-top: 20px;
}

.Header-main {
  font-family: "Teko", sans-serif;
  color: #fff;
}

.Header-sub {
  font-family: "Teko", sans-serif;
  color: #fff;
}

.Header-secondary {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 650px;
}

.Header-course {
  margin-bottom: 20px;
  color: #fff;
}

.Skills-title {
  border: 1px solid #777;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: #fff;
}

.Skills-title:hover {
  background-color: #000;
  opacity: 1;
}

.Skills {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
  color: #777;
}
