.Link {
  color: #fff;
}

.Link_tailor {
  font-weight: bold;
}

.Link_header {
  text-decoration: none;
  font-size: 20px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: #777;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.App {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

.profile {
  width: 80px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.HomeScreen-section {
  background-image: url(../assets/backgroundImage.png);
  background-position: top;
  background-size: cover;
  width: 100vw;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}

.HomeScreen-primary {
  padding-bottom: 30px;
}

.HomeScreen-primary-main {
  color: #fff;
}

.HomeScreen-primary-sub {
  font-family: "Bebas Neue", cursive;
  color: #fff;
}

.Container-course {
  text-align: center;
}

.HomeScreen-course-main {
  background-color: #fff;
  border-bottom: 3px solid red;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
}

.iconone {
  font-size: 30px;
}
