.Link {
  color: #fff;
}

.HomeScreen_section {
  text-align: center;
  height: 100vh;
  background-image: url(../assets/backgroundImage.png);
  background-size: cover;
  background-position: top;
}

.Header_primary {
  padding-top: 16%;
  padding-left: 15%;
  padding-right: 15%;
}

.Header_primary-main {
  font-family: "IBM Plex Serif", serif;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.Header_secondary-main {
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
  font-size: 17px;
}
