.Link {
  color: #fff;
}

.Link_tailor {
  font-weight: bold;
}

.Link_header {
  text-decoration: none;
  font-size: 20px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: #777;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.App {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

.profile {
  width: 80px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.Contact-screen {
  padding-top: 20px;
  padding-bottom: 40px;
}

.Connect-header {
  margin-bottom: 20px;
}

.HomeScreen-section {
  background-image: url(../assets/backgroundImage.png);
  background-position: top;
  background-size: cover;
  width: 100vw;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}

.Header-primary {
  max-width: 700px;
  margin: 0 auto;
}

.Header-primary-main {
  font-family: "Bebas Neue", cursive;
  color: #fff;
}

.Header-primary-sub {
  font-family: "Bebas Neue", cursive;
  color: #fff;
}

.Header-courses {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.Header-skills {
  border-radius: 10px;
  background-color: #fff;
  color: #777;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Header-skills:hover {
  background-color: green;
  color: #fff;
}

.Skills {
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}

.Price {
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.Contact-screen {
  text-align: center;
}

.InfoScreen-section {
  text-align: center;
  padding-top: 20px;
}

.Info-icons {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.html {
  color: #777;
  font-size: 30px;
  font-weight: bold;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reactnative {
  color: #777;
  font-size: 30px;
  font-weight: bold;
  width: 250px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bootstrap {
  color: #777;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flexbox {
  color: #777;
  font-size: 30px;
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Info-paragraph {
  text-align: justify;
  margin-top: 10px;
}
