.Link {
  color: #fff;
}

.Link_tailor {
  font-weight: bold;
}

.Link_header {
  text-decoration: none;
  font-size: 20px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: #777;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.App {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

.profile {
  width: 80px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.BenefitScreen-section {
  padding-top: 20px;
  padding-bottom: 30px;
}

.BenefitScreen-primary-title {
  color: #777;
  text-align: center;
}

.BenefitScreen-primary {
  background-color: #eee;
  padding-top: 15px;
  text-align: center;
}

.fa-flask {
  color: #777;
  font-size: 20px;
}

.BenefitScreen-title-main {
  color: #777;
}

.BenefitScreen-primary-sub {
  color: #777;
}

.HomeScreen-section {
  background-image: url(../assets/backgroundImage.png);
  background-position: top;
  background-size: cover;
  width: 100vw;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}

.HomeScreen-primary {
  padding-bottom: 30px;
}

.HomeScreen-primary-main {
  color: #fff;
}

.HomeScreen-primary-sub {
  font-family: "Bebas Neue", cursive;
  color: #fff;
}

.HomeScreen-course-main {
  background-color: #fff;
  border-bottom: 3px solid red;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
}

.iconone {
  font-size: 30px;
}

.SkillScreen-section {
  text-align: center;
  padding-bottom: 20px;
}

.SkillScreen-title {
  text-transform: uppercase;
  border-bottom: 2px solid #777;
  color: #777;
}

.SkillScreen-primary-main {
  border-radius: 10px;
  background-color: #eee;
  margin-bottom: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.SkillScreen-primary-main:hover {
  background-color: green;
  color: #fff;
}

.Skill {
  border-bottom: 1px solid #fff;
  color: #777;
}

.Price {
  border-bottom: 1px solid #fff;
  color: #777;
}

.InfoScreen-sub {
  text-align: center;
}

.html {
  background-color: #eee;
  border-radius: 5px;
  color: #777;
  margin: 0 auto;
  width: 80px;
}

.reactnative {
  background-color: #eee;
  border-radius: 5px;
  color: #777;
  margin: 0 auto;
  width: 130px;
}

.JavaScript {
  background-color: #eee;
  border-radius: 5px;
  color: #777;
  margin: 0 auto;
  width: 100px;
}

.reactjs {
  background-color: #eee;
  border-radius: 5px;
  margin: 0 auto;
  color: #777;
  width: 80px;
}

.InfoScreen-paragraph {
  text-align: justify;
  color: #777;
}

.ContactScreen-section {
  background-image: url(../assets/backgroundImage.png);
  background-position: top;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
