.Link {
  color: #fff;
}

.Link_tailor {
  font-weight: bold;
}

.Link_header {
  text-decoration: none;
  font-size: 20px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: #777;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.App {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  color: #777;
}

.App-paragraph {
  color: #777;
}

.Show {
  color: #777;
}

.profile {
  width: 80px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.BenefitScreen-section {
  padding-top: 20px;
  padding-bottom: 30px;
}

.BenefitScreen-primary-title {
  text-transform: uppercase;
  font-family: "Faustina", serif;
  color: #777;
  text-align: center;
}

.BenefitScreen-primary-main {
  background-color: #eee;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.fa-gem {
  color: #777;
  font-size: 20px;
}

.BenefitScreen-title-main {
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  color: #777;
}

.BenefitScreen-primary-sub {
  text-align: justify;
  line-height: 16px;
  color: #777;
}

.ContactScreen-section {
  background-image: url(../assets/backgroundImage.png);
  background-position: top;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.HomeScreen-section {
  background-image: url(../assets/backgroundImage.png);
  background-position: top;
  background-size: cover;
  width: 100vw;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}

.HomeScreen-primary {
  padding-bottom: 30px;
}

.HomeScreen-primary-main {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
}

.HomeScreen-primary-sub {
  font-family: "Bebas Neue", cursive;
  color: #fff;
}

.HomeScreen-course-main {
  background-color: #fff;
  border-bottom: 3px solid red;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
}

.iconone {
  font-size: 30px;
}

.InfoScreen-paragraph {
  text-align: justify;
  color: #777;
}

.InfoScreen {
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  color: #777;
}

.SkillScreen-title {
  text-align: center;
  color: #777;
  text-transform: uppercase;
  font-family: "Faustina", serif;
}

.SkillScreen-primary {
  max-width: 600px;
  margin: 0 auto;
}

.SkillScreen-primary-main {
  background-color: #eee;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.SkillScreen-primary-sub {
  background-color: #fff;
  border-bottom: 2px solid gold;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.SkillScreen-primary-sub:hover {
  background-color: green;
}

.SkillScreen-paragraph {
  color: #777;
  text-transform: uppercase;
}

.SkillScreen-paragraph:hover {
  color: #fff;
}

.Begin {
  color: #777;
}

.Begin:hover {
  color: #fff;
}
