.Link {
  color: #fff;
}

.Link_header:hover {
  padding: 2px 0px;
  border-radius: 3px;
  text-decoration: none;
  color: #777;
  background-color: #fff;
}

.Link_tailor {
  margin-right: 20px;
}

.HomeScreen_section {
  text-align: center;
  height: 100vh;
  background-image: url(../assets/backgroundImage.png);
  background-size: cover;
  background-position: top;
}

.Header_primary {
  padding-top: 16%;
  padding-left: 11%;
  padding-right: 11%;
}

.Header_primary-main {
  font-family: "IBM Plex Serif", serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.Header_secondary-main {
  margin-bottom: 30px;
  font-family: "Faustina", serif;
  font-weight: bold;
  color: #fff;
  font-size: 17px;
}

.Courses_section {
  padding-left: 25px;
  padding-right: 25px;
}

.Header_courses {
  padding-bottom: 20px;
}

.Course_logo {
  width: 100%;
}
